body {
  background: #fff;
  height:100%;
  position: relative;
}

.poly {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rain {
  0%   {transform: translateY(0px);}
  25%   {transform: translateY(100px);}
  50%   {transform: translateY(200px);}
  75% {transform: translateY(400px);}
  100% {transform: translateY(800px);}
}

.dot{
  stroke: #0000ff;
  fill: none;
}
